---
layout: default
title: Tags
permalink: /tags
---

<a href="{{ "/" | relative_url }}" class="back-link" aria-label="Go back">
  <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
    <polyline points="15 18 9 12 15 6"></polyline>
  </svg>
</a>

<h1>Tags</h1>

{% assign tags = site.tags | sort %}
{% for tag in tags %}
  <h2 id="{{ tag[0] | slugify }}">{{ tag[0] }}</h2>
  <ul>
    {% for post in tag[1] %}
      <li class="post-list-item">
        <span class="home-date">{{ post.date | date: site.theme_config.date_format }}&raquo;</span>
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>
{% endfor %}
